<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE configuration PUBLIC "-//mybatis.org//DTD Config 3.0//EN" "http://mybatis.org/dtd/mybatis-3-config.dtd">
<configuration>
    <typeAliases>
        <typeAlias alias="members" type="com.capstone.project.logic.Members"/>
        <typeAlias alias="lists" type="com.capstone.project.logic.Lists"/>
        <typeAlias alias="baskets" type="com.capstone.project.logic.Baskets"/>
    </typeAliases>

    <mappers>
        <mapper resource="mapper/user-Mapper.xml"/>
        <mapper resource="mapper/list-Mapper.xml"/>
        <mapper resource="mapper/basket-Mapper.xml"/>
    </mappers>
</configuration>