<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="mapper.list-Mapper">

	<select id="getListOne" resultType="lists">
		SELECT * FROM furnitures
      <where>
            <if test="type != 'Type'">
               type = #{type}
            </if>
            <if test="brand != 'Brand'">
               AND brand = #{brand}
            </if>
            <if test ="color != 'Color'">
               AND color = #{color}
            </if>
            <if test="price != 'Price'">
               AND price BETWEEN #{price} AND #{maxPrice}
            </if>
            
      </where>
      ORDER BY modeling
	</select>
</mapper>